{
        "deapth": 1,
        "save_path": "",
        "log_level": "WARNING",
        "thread_number": 1,
        "host"           : "",
        "format_url"     : "",
        "xpath1"         : "",
        "attribs1"       : [],
        "format_referer" : "",
        "xpath2"         : "",
        "attribs2"       : [],
        "name_format"    : ""
}

